@charset"utf-8";

/*MENU*/

/*
- esse nivel que farei o menu com os 'OL' sumindo e so aparecendo quando o cursor esta em cima no 'ul'
.ul-rodape > ol {
    display:none;
}
.ul-rodape:hover > ol{
    display: block;
}
    esse foi feito para o rodapé (footer)
*/

/*CORPO*/
body{
    background-image: url(../imagens/ConectQuimical.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:  cover; 
}
#entrada{
    padding: auto;
    margin: auto;  
    width: auto;
    height: 700px;
    top: -200px; 
}

/*TITULO SITE*/
h1{
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    padding-top: 150px;   
    font-size: 80px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.507);
}

main{
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin: auto;   

}

/*INTRODUÇÃO*/
#intro{
    background-color: white;
    width: 900px;
    margin: auto;
    margin-top: 20px;
    padding: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px #0c0e16a2;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.39) ;
    color: #7f5334;
    font-size: 25px;
    padding-left: 230px;
}
img{
    width:300px;
    position: absolute;
    margin: auto;
    margin-left: -15px;
    margin-top: -90px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
    border-radius: 5px;
}

.text-subject{
    margin: auto;
    margin-left: 300px;
    text-align: justify;
}
a{
    margin-left: 300px;
}

/*FOOTER(RODAPÉ)*/
footer{
    background-color:#015144;
    background-size: 100%;
    margin: auto;
    width: auto;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}   

.h3-rodape{
    padding-top: 10px;
    text-align: left;
    color: white;
}
.section-rodape{
    display: inline-block;
    padding: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.li-rodape{
    list-style: none;
}

.a-rodape{    
    text-decoration: none;
    color:white;
}
.a-rodape:hover{
    color: #001c19;
    display: block;
}
.a-rodape:focus{
    color: #001c19;
}
.a-rodape:visited{
    color: #75756e;
}
ol{
    font-size: 0.8em;
}